<div class="container-tri">
    <p>Trier par : </p>
    
    <div class="container-button">
        <input #inputAlpha class="btn btn-primary" type="button" value="Alpha" (click)="etatDuBouttonAlpha.emit(inputAlpha.value)">
        <input #inputArrosage class="btn btn-primary" type="button" value="Arrosage" (click)="etatDuBouttonArrosage.emit(inputArrosage.value)">
        <input #inputEnsoleillement class="btn btn-primary" type="button" value="Ensoleillement" (click)="etatDuBouttonEnsoleillement.emit(inputEnsoleillement.value)">  
    </div>
</div>
