<div class="card me-5" style="width: 18rem;">
    <div class="card-header">
        <h2>Filtres</h2>
    </div>
    <div class="form-check">
        <h3>Catégories</h3>
        <li class="list-group-item" *ngFor="let item of categoriesRecu">
            <input class="form-check-input" id='{{ item }}' type="checkbox" (change)="addNewItem(item)" value="{{ item }}">
            <label class="form-check-label" for='{{ item }}'>{{ item }}</label>
        </li>
    </div>
    <div class="form-check">
        <h3>Quantité d'eau</h3>
        <li class="list-group-item" *ngFor="let gouttes of nombreDeGouttesRecu">
            <input #isChecked class="form-check-input inputDisplay" id='{{ gouttes }}' type="checkbox" (change)="onChangeNbrGouttes(gouttes)"  value="{{ gouttes }}">
            <label class="form-check-label" for='{{ gouttes }}'>
                <img *ngIf="gouttes >=3 && !isChecked.checked" [src]="imageSansEau" style="height: 20px;">
                <img *ngIf="gouttes >=3 && isChecked.checked" [src]="imageGoutteEau" style="height: 20px;">
                <img *ngIf="gouttes >=2 && !isChecked.checked" [src]="imageSansEau" style="height: 20px;">
                <img *ngIf="gouttes >=2 && isChecked.checked" [src]="imageGoutteEau" style="height: 20px;">
                <img *ngIf="gouttes >=1 && !isChecked.checked" [src]="imageSansEau" style="height: 20px;">
                <img *ngIf="gouttes >=1 && isChecked.checked" [src]="imageGoutteEau" style="height: 20px;">
                <img *ngIf="gouttes ==0" src="../../../assets/pas-deau.png" style="height: 20px;">
            </label>
        </li>
    </div>
    <!-- <div class="form-check">
        <h3>Quantité de soleil</h3>
        <li class="list-group-item" *ngFor="let gouttes of nombreDeGouttesRecu">
            <input #isChecked class="form-check-input inputDisplay" id='{{ gouttes }}' type="checkbox"
                (change)="onChangeNbrGouttes(gouttes)" value="{{ gouttes }}">
            <label class="form-check-label" for='{{ gouttes }}'>
                <img *ngIf="gouttes >=3 && !isChecked.checked" [src]="imageSansEau" style="height: 20px;">
                <img *ngIf="gouttes >=3 && isChecked.checked" [src]="imageGoutteEau" style="height: 20px;">
                <img *ngIf="gouttes >=2 && !isChecked.checked" [src]="imageSansEau" style="height: 20px;">
                <img *ngIf="gouttes >=2 && isChecked.checked" [src]="imageGoutteEau" style="height: 20px;">
                <img *ngIf="gouttes >=1 && !isChecked.checked" [src]="imageSansEau" style="height: 20px;">
                <img *ngIf="gouttes >=1 && isChecked.checked" [src]="imageGoutteEau" style="height: 20px;">
                <img *ngIf="gouttes ==0" src="../../../assets/pas-deau.png" style="height: 20px;">
            </label>
        </li>
    </div> -->
</div>
        

