<div class="card me-5" style="width: 18rem;">
    <div class="card-header">
        <h2>Filtres</h2>
    </div>
    <div class="form-check">
        <h3>Catégories</h3>
        <li class="list-group-item" *ngFor="let item of categoriesRecu">
            <input class="form-check-input" id='{{ item }}' type="checkbox" (change)="addNewItem(item)" value="{{ item }}">
            <label class="form-check-label" for='{{ item }}'>{{ item }}</label>
        </li>
    </div>
    <div class="form-check">
        <h3>Gouttes d'eau</h3>
        <div class="form-check form-check-inline">
            <input class="form-check-input inputDisplay" type="checkbox" id="inlineCheckbox1" value="option1" 
            (change)="changeGoutteEau1($event)">
            <label class="form-check-label" for="inlineCheckbox1">
                <img [src]="imageGoutteEau1" style="height: 20px;">
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input inputDisplay" type="checkbox" id="inlineCheckbox2" value="option2" 
            (change)="changeGoutteEau2($event)"
            >
            <label class="form-check-label" for="inlineCheckbox2">
                <img [src]="imageGoutteEau2" style="height: 20px;">
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input inputDisplay" type="checkbox" id="inlineCheckbox3" value="option3" 
            (change)="changeGoutteEau3($event)">
            <label class="form-check-label" for="inlineCheckbox3">
                <img [src]="imageGoutteEau3" style="height: 20px;">
            </label>
        </div>  
    </div>
    <div class="form-check">
        <h3>Soleil</h3>
        <li class="list-group-item" >
            <input class="form-check-input"  type="checkbox">
            <label class="form-check-label" ></label>
        </li>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4"
        (change)="changeSansFiltre($event)" >
        <label class="form-check-label" for="inlineCheckbox4">Aucun filtre</label>
    </div>
</div>
        

